<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- Motors -->
	<bean id="electricMotor" class="org.formation.spring.components.ElectricMotor"/>
	<bean id="gasEngine" class="org.formation.spring.components.GasEngine"/>
	
	<!-- Drivers -->
	<bean id="crazyDriver" class="org.formation.spring.components.CrazyDriver"/>
	<bean id="grandMother" class="org.formation.spring.components.GrandMother"/>

	<bean id="vehicle" class="org.formation.spring.service.Vehicle">
		<property name="brand" value="BMW" />
		<property name="model" value="M3 E46" />
		<property name="motor" ref="electricMotor" />
		<property name="driver" ref="grandMother" />
	</bean>

</beans>
