[submodule "ca_ProxiBanqueSI_jmh_alc"]
	path = ca_ProxiBanqueSI_jmh_alc
	url = https://github.com/alecigne/ProxiBanqueV2.git
[submodule "de_ProxiBanquesi_slm_alc"]
	path = de_ProxiBanquesi_slm_alc
	url = https://github.com/alecigne/ProxiBanqueSIv3_slm_alc
[submodule "es_ProxiBanqueSI_v4_cs_slm_alc"]
	path = es_ProxiBanqueSI_v4_cs_slm_alc
	url = https://github.com/alecigne/ProxiBanqueSI_v4_cs_slm_alc
[submodule "eo_vm-starter-git"]
	path = eo_vm-starter-git
	url = https://github.com/alecigne/formation-typescript
[submodule "ep_superquiz"]
	path = ep_superquiz
	url = https://github.com/alecigne/formation-angular
[submodule "eq_superquiz-final"]
	path = eq_superquiz-final
	url = https://github.com/alecigne/formation-angular-final
