<h1>Liste des quizzes ({{quizList.length}})</h1>

<p>
  <button class="btn btn-default" (click)="addQuiz()">Ajouter</button>
  <button class="btn btn-default" (click)="deleteLastQuiz()">Supprimer</button>
</p>

<ng-template #noQuizFound>
  <h2>Aucun quiz trouvé</h2>
</ng-template>

<div class="row" *ngIf="quizList.length !== 0; else noQuizFound">

  <div class="col-sm-6" *ngFor="let quiz of quizList; let num = index">
    <div class="well" [class.jaune]="num % 2 === 1">
      <!-- <div class="well" [style.background]="num === 2 ? 'lightgreen' : 'transparent'"> -->
      <h2>{{num + 1}} - {{quiz.title}}</h2>
      <p class="lead">{{quiz.description}}</p>
      <div class="text-right">
        <a href="" class="btn btn-info btn-lg">Jouer</a>
      </div>
    </div>
  </div>

</div>