<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="htmlreportgenerator" class="org.formation.spring.report.HtmlReportGenerator"/>
	<bean id="pdfreportgenerator" class="org.formation.spring.report.PdfReportGenerator"/>

	<bean id="reportservice" class="org.formation.spring.service.ReportService">
	<!-- on a aussi name et type pour repérer le paramètre -->
	<!-- sinon, indice -->
		<constructor-arg ref="htmlreportgenerator"/>
	</bean>
	
</beans>
